<div class="navbar">
  <nav class="nav-left stroke">
    <ul>
      <li><a href="#menu">Menu</a></li>
      <li><a href="#nosotros" style="margin-right: 3rem">Nosotros</a></li>
    </ul>
  </nav>

  <div class="logo">
    <img src="logo_hotfood.png" alt="Hot Food Logo" />
  </div>

  <nav class="nav-right stroke">
    <ul>
      <li><a href="#novedades" style="margin-left: 3rem">Novedades</a></li>
      <li><a href="#ubicacion">Ubicación</a></li>
    </ul>
  </nav>
</div>

<section class="section-1">
  <div class="hero">
    <div class="hero-image">
      <img src="burga_1_inicio.jpg" alt="Burger 1" />
    </div>
    <div class="hero-image">
      <img src="dueño_inicio.jpg" alt="Chef" />
      <div class="overlay-text">
        <h1>HotFood</h1>
        <hr />
        <p>Delicious & Fresh</p>
      </div>
    </div>
    <div class="hero-image">
      <img src="burga_2_inicio.jpg" alt="Burger 2" />
    </div>
  </div>

  <div class="chalkboard-section">
    <h2 class="tilted-text">BEST BURGERS IN TOWN</h2>
    <div class="svg-container">
      <img src="./brush_texto_largo.svg" alt="Brush Text" />
    </div>
    <div class="burger-grid">
      <div class="burger-item">
        <div class="burger-name">STACKER</div>
        <img src="stacker.png" alt="STACKER" class="burger-image" />
        <div class="ingredients-overlay">
          <ul>
            <li>Salsa Stacker</li>
            <li>Panceta</li>
            <li>Cheddar</li>
            <li>Doble Carne</li>
          </ul>
        </div>
        <div class="burger-price">$9000</div>
      </div>
      <div class="burger-item">
        <div class="burger-name">LE BLUE</div>
        <img src="leblue.png" alt="LE BLUE" class="burger-image" />
        <div class="ingredients-overlay">
          <ul>
            <li>Cabolla Caramelizada</li>
            <li>Alioli</li>
            <li>Roquefort</li>
            <li>Doble Carne</li>
          </ul>
        </div>
        <div class="burger-price">$9300</div>
      </div>
      <div class="burger-item">
        <div class="burger-name">SPICY CHEESE</div>
        <img src="spicy-cheese.png" alt="SPICY CHEESE" class="burger-image" />
        <div class="ingredients-overlay">
          <ul>
            <li>Salsa Spicy</li>
            <li>Doritos</li>
            <li>Cheddar</li>
            <li>Panceta</li>
            <li>Doble Carne</li>
          </ul>
        </div>
        <div class="burger-price">$9300</div>
      </div>
      <div class="burger-item">
        <div class="burger-name">CUARTO DE LIBRA</div>

        <img
          src="cuarto-de-libra.png"
          alt="CUARTO DE LIBRA"
          class="burger-image"
        />
        <div class="ingredients-overlay">
          <ul>
            <li>Salsa 1/4 de Libra</li>
            <li>Cheddar</li>
            <li>Doble Carne</li>
          </ul>
        </div>
        <div class="burger-name">$8500</div>
      </div>
      <div class="burger-item">
        <div class="burger-name">LE MUZZA</div>
        <img src="le-mussa.png" alt="LE MUZZA" class="burger-image" />
        <div class="ingredients-overlay">
          <ul>
            <li>Bastones de Muzza</li>
            <li>Salsa Thousand Island</li>
            <li>Cheddar</li>
            <li>Doble Carne</li>
          </ul>
        </div>
        <div class="burger-name">$9200</div>
      </div>
      <div class="burger-item">
        <div class="burger-name">TRENQUE BURGUER</div>
        <img src="trenque.png" alt="TRENQUE" class="burger-image" />
        <div class="ingredients-overlay">
          <ul>
            <li>Pan de papa</li>
            <li>Huevo</li>
            <li>Panceta</li>
            <li>Cheddar</li>
            <li>Doble Carne</li>
          </ul>
        </div>
        <div class="burger-price">$9500</div>
      </div>
    </div>

    <div class="vegan-section">
      <div>
        <p class="vegan-text">
          Cualquier medallón puede ser reemplazado por un medallón not co
          VEGETALEX.
          <br />
          El queso cheddar se puede cambiar por queso emmenthal o queso
          roquefort.
          <br />
          Se puede agregar o retirar una carne por $1500.
        </p>
      </div>
    </div>

    <h2 class="tilted-text-chico">SIDES</h2>
    <div class="svg-container-chico">
      <img src="./brush_texto_chico.svg" alt="Brush Text" />
    </div>

    <div class="sides-grid">
      <div class="burger-item">
        <div class="burger-name">AROS DE CEBOLLA</div>
        <img src="side_aros_cebolla.png" alt="STACKER" class="burger-image" />
        <div class="ingredients-overlay">
          <ul>
            <li>Salsa Stacker</li>
            <li>Panceta</li>
            <li>Cheddar</li>
            <li>Doble Carne</li>
          </ul>
        </div>
        <div class="burger-price">$9000</div>
      </div>
      <div class="burger-item">
        <div class="burger-name">PAPAS</div>
        <img src="side_aros_cebolla.png" alt="STACKER" class="burger-image" />
        <div class="ingredients-overlay">
          <ul>
            <li>Salsa Stacker</li>
            <li>Panceta</li>
            <li>Cheddar</li>
            <li>Doble Carne</li>
          </ul>
        </div>
        <div class="burger-price">$9000</div>
      </div>
      <div class="burger-item">
        <div class="burger-name">RABAS</div>
        <img src="side_papas.png" alt="STACKER" class="burger-image" />
        <div class="ingredients-overlay">
          <ul>
            <li>Salsa Stacker</li>
            <li>Panceta</li>
            <li>Cheddar</li>
            <li>Doble Carne</li>
          </ul>
        </div>
        <div class="burger-price">$9000</div>
      </div>
    </div>
  </div>
</section>

<section class="section-2">
  <div>
    <p class="limited-edition-title">
      NUEVA <br />
      EDICIÓN <span class="limited-text-span">LIMITADA</span>
    </p>
    <div class="image-container">
      <img src="edicion_limitada.png" alt="STACKER" class="burger-limited" />
      <p class="limited-edition-subtitle">
        <span class="limited-text-span">BACON JELLY</span>
      </p>
    </div>
  </div>
</section>

<section class="section-3">
  <p class="quienes-somos-title">¿QUIENES SOMOS?</p>
  <div class="content-container">
    <div class="text-section">
      <p class="quienes-somos-text">
        Hot Food es un emprendimiento de comida americana que nace de la pasión
        y el amor por las hamburguesas. Nos especializamos en ofrecer
        hamburguesas auténticas y llenas de sabor, inspiradas en la rica
        tradición culinaria de Estados Unidos. Cada bocado está diseñado para
        llevarte en un viaje gastronómico inolvidable.
        <br /><br />
        Nuestro compromiso es brindar una experiencia culinaria excepcional,
        utilizando ingredientes frescos y de alta calidad. Creemos que la comida
        no solo alimenta el cuerpo, sino también el alma, y es por eso que
        ponemos nuestro corazón en cada hamburguesa que servimos.
      </p>
    </div>
    <div class="polaroid-container">
      <img src="polaroid_1.png" alt="Persona" class="polaroid polaroid-top" />
      <img
        src="polaroid_2.png"
        alt="Persona con hamburguesa"
        class="polaroid polaroid-middle"
      />
      <img
        src="polaroid_3.png"
        alt="Hamburguesas"
        class="polaroid polaroid-bottom"
      />
    </div>
  </div>
</section>

<section class="section-4">
  <p class="nuestro-local-title">NUESTRO LOCAL</p>
  <p class="nuestro-local-text">Podes encontrarnos en</p>
  <p class="nuestro-local-text">
    Domingo Faustino Sarmiento 189, Trenque Lauquen
  </p>

  <iframe
    class="map-iframe"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3229.0005915408724!2d-62.730361!3d-35.971411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d5582ccee57b7d%3A0x1d2a25530c67db4a!2sDomingo%20Faustino%20Sarmiento%20189%2C%20B6400%20Trenque%20Lauquen%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1726448871255!5m2!1ses!2sar"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
