/* Tipografías */

@font-face {
  font-family: "main";
  src: url("../../../public/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "graffiti";
  src: url("../../../public/FREESCPT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text-2";
  src: url("../../../public/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "italic";
  src: url("../../../public/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px 20px 10px 75px;
  background-color: #ffcd00;
  position: sticky;
  gap: 50px;
  top: 0;
  left: 0;
  right: 0;
  height: 105px;
  z-index: 1000;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: black;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.3s;
}

nav ul li a:hover {
  color: #555;
}

.logo {
  display: flex;
  justify-content: center;
  transform: translateY(50%);
}

.navbar .logo img {
  max-height: 10rem;
  object-fit: contain;
}

.nav-left {
  margin-right: 6%;
}

.nav-right {
  margin-left: 3%;
}

.nav-left ul,
.nav-right ul {
  display: flex;
  list-style: none;
  gap: 150px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "main", sans-serif;
}

.hamburger-menu {
  display: none; /* Se oculta por defecto */
  cursor: pointer;
}

.mobile-nav {
  position: absolute;
  top: 105px; /* Adjust as needed */
  right: 0;
  background-color: #ffcd00;
  width: 100%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: fixed;

  /* Animation properties */
  opacity: 0;
  transform: translateY(-20px); /* Start slightly above */
  transition: opacity 0.3s ease, transform 0.3s ease;

  /* Prevent clicks when not visible */
  pointer-events: none;
}

/* Show the mobile nav with animation */
.mobile-nav.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Rest of your mobile nav styles */
.mobile-nav ul {
  list-style: none;
  margin: 0;
  padding: 20px;
}

.mobile-nav ul li {
  padding: 10px 0;
}

.mobile-nav ul li a {
  display: flex;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "main", sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Section 1 */
.section-1 {
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.section-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 2;
}

.hero {
  display: flex;
  overflow: hidden;
  position: relative;
}

.hero-image {
  min-width: 33.33%; /* Cada imagen ocupa el 100% del contenedor */
  max-width: 33.33%;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
  pointer-events: none;
}

.hero-image .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

.hero-image:hover::before {
  background-color: rgba(0, 0, 0, 0.45);
}

.overlay-text h1 {
  font-family: "main", sans-serif;
  font-size: clamp(2rem, 5vw, 6rem);
  margin: 0;
}

.overlay-text hr {
  border: none;
  border-top: 2px solid white;
  width: 50%;
  margin: 10px auto;
}

.overlay-text p {
  font-family: "graffiti", sans-serif;
  margin: 0;
  font-size: clamp(1rem, 4vw, 5rem);
  color: #ffcd00;
}

.hero-image img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.hero-image:hover img {
  transform: scale(1.1);
}

/* Burgas section */
.chalkboard-section {
  padding: 2rem;
  text-align: center;
  color: #fff;
  position: relative;
}

.tilted-text {
  margin-top: 10rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: clamp(
    4rem,
    6vw,
    10rem
  ); /* Ajuste del tamaño para mantenerlo dentro del SVG */
  font-family: "graffiti", sans-serif;
  letter-spacing: 2px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-7deg);
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: 100;
  -webkit-text-stroke: 2.5px black;
  color: white;
  animation: graffiti-draw 1.2s ease-out forwards;
}

.svg-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: -5rem; /* Ajuste de margen para mejor alineación */
}

.svg-container img {
  transform: rotate(-6deg);
  width: 100%;
  height: auto;
  opacity: 0.25;
  max-width: none;
  position: absolute; /* Posiciona el SVG detrás del texto */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-6deg); /* Centra el SVG detrás del texto */
}

.tilted-text-chico {
  padding-left: 0.5rem;
  padding-right: 2.5rem;
  font-size: clamp(
    3rem,
    4vw,
    7rem
  ); /* Ajuste del tamaño para mantenerlo dentro del SVG */
  font-family: "graffiti", sans-serif;
  letter-spacing: 2px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-8deg);
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: 100;
  -webkit-text-stroke: 2.5px black;
  color: white;
  animation: graffiti-draw 1.2s ease-out forwards;
}

.svg-container-chico {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: -4rem; /* Ajuste de margen para mejor alineación */
}

.svg-container-chico img {
  transform: rotate(-6deg);
  width: 100%;
  height: auto;
  opacity: 0.25;
  max-width: none;
  position: absolute; /* Posiciona el SVG detrás del texto */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-6deg); /* Centra el SVG detrás del texto */
}

.burger-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.burger-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  margin-top: 8rem;
}

.burger-item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.4s, box-shadow 0.4s;
}

.burger-item:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
}

.burger-image {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.burger-item:hover .burger-image {
  transform: scale(1.1);
}

.ingredients-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.burger-item:hover .ingredients-overlay {
  opacity: 1;
}

.ingredients-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.ingredients-overlay li {
  font-family: "graffiti", sans-serif;
  margin: 5px 0;
  font-size: 3rem;
  color: #fff;
  opacity: 0;
}

/* Animaciones de texto para BURGER */
.burger-item:hover .ingredients-overlay li:nth-child(odd) {
  animation: slideInLeft 0.3s forwards ease-out;
}

.burger-item:hover .ingredients-overlay li:nth-child(even) {
  animation: slideInRight 0.3s forwards ease-out;
}

.burger-item:hover .ingredients-overlay li:nth-child(1) {
  animation-delay: 0.01s;
}

.burger-item:hover .ingredients-overlay li:nth-child(2) {
  animation-delay: 0.1s;
}

.burger-item:hover .ingredients-overlay li:nth-child(3) {
  animation-delay: 0.2s;
}

.burger-item:hover .ingredients-overlay li:nth-child(4) {
  animation-delay: 0.3s;
}

.burger-item:hover .ingredients-overlay li:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.burger-name {
  margin-top: 0.5rem;
  font-family: "graffiti", sans-serif;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1.5px black;
  font-size: 3rem;
  color: #fff;
  z-index: 9;
}

.burger-price {
  margin: 0.5rem 0;
  font-family: "graffiti", sans-serif;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px black;
  font-size: 2.5rem;
  color: #fff;
  z-index: 9;
}

/* Animación de grafiti */
@keyframes graffiti-draw {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  25% {
    clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
  75% {
    clip-path: polygon(0 0, 75% 0, 75% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* Texto vegano */
.vegan-text {
  font-family: "main", sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
  transition: color 0.4s;
}

.vegan-section {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 0.1px solid #ffd90063;
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.089);
  transition: transform 0.4s, box-shadow 0.4s;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  margin: 5rem auto;
  margin-bottom: 10rem;
  max-width: 50%;
}

/* Sides */
.sides-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  margin-top: 12rem;
}

/* Section 2 */
/* Edición limitada */
.section-2 {
  background-image: url("../../../public/background_section_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
}

.section-2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 2;
}

.limited-edition-title {
  font-family: "main", sans-serif;
  color: white;
  font-size: 6rem;
  text-align: center;
  line-height: 1.2;
  transition: color 0.4s;
  padding-top: 5rem;
}

.limited-edition-subtitle {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  font-family: "main", sans-serif;
  text-align: center;
}

.limited-text-span {
  color: #ff0000;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6),
    0 0 30px rgba(255, 0, 0, 0.4);
  font-weight: bold;
}

.section-2 img.burger-limited {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section 3 */
.section-3 {
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
}

.section-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
}

.section-3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 2;
}

.content-container {
  display: flex;
  gap: 2rem;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.text-section {
  flex: 3;
  color: white;
  text-align: center;
}

.image-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}

.polaroid {
  width: 100%;
  max-width: 320px;
  transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
  filter: grayscale(1.2);
}

.polaroid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: start;
}
/* Continuación de la Sección 3 */
.polaroid-top {
  grid-column: 1;
  grid-row: 1;
  transform: rotate(-8deg);
  z-index: 3;
}

.polaroid-middle {
  grid-column: 2;
  grid-row: 1;
  transform: rotate(8deg);
  margin-top: 40px;
  z-index: 2;
}

.polaroid-bottom {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin-top: -100px;
  z-index: 1;
}

.polaroid:hover {
  transform: scale(1.1) rotate(0deg);
  filter: grayscale(0);
}

.quienes-somos-title {
  font-family: "main", sans-serif;
  color: white;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
}

.quienes-somos-text {
  font-family: "main", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
}

/* Section 4 */
.section-4 {
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
}

.section-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
}

.section-4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 2;
}

.nuestro-local-title {
  font-family: "main", sans-serif;
  color: white;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.nuestro-local-text {
  font-family: "text-2", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.map-iframe {
  width: 60%;
  height: 40rem;
  border: 0;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 10px 10px 10px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}

/* Footer */
.footer-section {
  background-image: url("../../../public/background_hotfood.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 60px 0 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
  pointer-events: none;
}

.footer-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
}

.footer-logo {
  position: relative;
  top: -120px;
  z-index: 3;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 90;
}

.footer-contact,
.footer-work {
  z-index: 90;
  flex: 1;
}

.footer-logo img {
  z-index: 90;
  max-height: 10rem;
  margin-bottom: 10px;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
}

.footer-logo p {
  z-index: 90;
  font-size: 1.5rem;
  color: #ffcd00;
  font-family: "italic", sans-serif;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.footer-contact h2,
.footer-work h2 {
  z-index: 90;
  font-family: "text-2", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-icons {
  z-index: 90;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.email-link {
  font-family: "text-2", sans-serif;
  z-index: 90;
}

.footer-work .email-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  justify-content: center;
  z-index: 90;
}

.footer-work p {
  z-index: 90;
  font-family: "text-2", sans-serif;
}

.footer-work .email-link img {
  width: 25px;
  height: 25px;
  filter: invert(1);
  z-index: 90;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-contact .footer-icons .icon-link img {
  width: 25px;
  height: 25px;
  filter: invert(1);
  z-index: 90;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-contact .footer-icons .icon-link:hover img,
.footer-work .email-link:hover img {
  filter: invert(67%) sepia(96%) saturate(592%) hue-rotate(359deg)
    brightness(105%) contrast(105%);
}

.carousel-mode .hero-image {
  flex: none;
  min-width: 100%;

  max-width: 100%;
  display: block;

  object-fit: cover;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.nav-button.prev {
  left: 10px;
}

.nav-button.next {
  right: 10px;
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .navbar {
    padding: 5px 5px 5px 45px;
    gap: 20px;
  }

  .burger-grid {
    grid-template-columns: 1fr;
  }

  .limited-edition-title {
    font-size: clamp(2rem, 5vw, 4rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .burger-item {
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 10px;
  }

  .text-section {
    text-align: center;
    margin-bottom: 20px;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    line-height: 1.5;
    white-space: nowrap;
  }

  .polaroid-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .polaroid {
    margin: 10px;
    transform: none;
    max-width: 90%;
    height: auto;
  }

  .footer-section {
    padding: 20px 0;
    text-align: center;
  }

  .footer-icons {
    flex-direction: column;
    gap: 10px;
  }

  .map-iframe {
    width: 100%;
    height: 300px;
    margin-top: 1rem;
  }
}

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
  .burger-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .svg-container,
  .svg-container-chico {
    display: none;
  }

  .vegan-section {
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: 80%;
  }

  .footer-container {
    display: flex;
    flex-direction: row; /* Alinea los elementos en forma de columna */
    align-items: center; /* Alinea los elementos en el centro */
    justify-content: center; /* Centra los elementos verticalmente */
    gap: 20px; /* Espacio entre cada div */
  }

  .limited-edition-title {
    padding-top: 3rem;
    font-size: clamp(2rem, 5vw, 5rem);
    white-space: nowrap;
  }

  .polaroid-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* Pantallas grandes (escritorios y superiores) */
@media (max-width: 1200px) {
  .navbar {
    padding: 10px 10px 10px 65px;
    gap: 30px;
  }

  .navbar .logo img {
    max-height: 8rem;
    object-fit: contain;
  }

  .nav-left {
    margin-right: 4%;
  }

  .nav-right {
    margin-left: 1%;
  }

  .nav-left ul,
  .nav-right ul {
    display: flex;
    list-style: none;
    gap: 4rem;
  }

  .navbar nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "main", sans-serif;
  }

  .vegan-section {
    margin-bottom: 1rem;
    padding: 2rem;
  }

  .sides-grid {
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-container {
    gap: 2rem;
  }

  .map-iframe {
    width: 80%;
    height: 350px;
  }

  .burger-item {
    max-width: 300px;
  }
}

/* Pantallas grandes (hasta 1500px) */
@media (max-width: 1500px) {
  .content-container {
    display: block;
  }
  .text-section {
    text-align: center;
    font-size: clamp(
      1rem,
      2vw,
      1.2rem
    ); /* Ajuste dinámico del tamaño del texto */
    padding: 0 2rem;
  }

  .quienes-somos-title {
    font-size: clamp(2rem, 4vw, 3rem); /* Ajuste dinámico del título */
    margin-bottom: 1rem;
  }

  .quienes-somos-text {
    font-size: clamp(1rem, 2vw, 1.2rem); /* Ajuste del tamaño del texto */
    line-height: 1.4;
    margin-bottom: 2rem;
  }

  .polaroid-container {
    grid-template-columns: repeat(2, 1fr); /* Dos imágenes por fila */
  }

  .polaroid {
    width: 100%; /* Ajuste del tamaño para mantener proporción */
    max-width: 320px;
    transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
    filter: grayscale(1.2);
    margin: 15px;
  }

  /* Ajustes de las imágenes en la Sección 3 */
  .polaroid-top,
  .polaroid-middle,
  .polaroid-bottom {
    transform: rotate(0deg); /* Remueve la rotación para un mejor ajuste */
    margin-top: 0;
  }
}

/* Pantallas medianas (entre 1000px y 1499px) */
@media (max-width: 1000px) {
  .text-section {
    text-align: center;
    font-size: clamp(
      1rem,
      2vw,
      1.2rem
    ); /* Ajuste dinámico del tamaño del texto */
    padding: 0 2rem;
  }
  .polaroid {
    width: 80%; /* Ajuste del tamaño para mantener proporción */
    max-width: 320px;
    transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
    filter: grayscale(1.2);
    margin: 15px;
  }

  .polaroid-container {
    grid-template-columns: repeat(2, 1fr); /* Dos imágenes por fila */
  }

  .content-container {
    display: block;
  }
}

/* Pantallas pequeñas (menos de 600px) */
@media (max-width: 600px) {
  .content-container {
    display: block; /* Permite que los elementos se apilen verticalmente */
  }

  .text-section {
    text-align: center;
    font-size: clamp(
      0.9rem,
      3vw,
      1.1rem
    ); /* Ajuste más pequeño para pantallas reducidas */
    padding: 0 1rem; /* Reducción de padding para mantener el contenido centrado */
    white-space: normal;
  }

  .quienes-somos-title {
    font-size: clamp(1.8rem, 5vw, 2.5rem); /* Ajuste dinámico del título */
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .quienes-somos-text {
    font-size: clamp(0.9rem, 3vw, 1.1rem); /* Ajuste del tamaño del texto */
    line-height: 1.4;
    margin-bottom: 1.5rem;
    text-align: center; /* Centrado del texto para pantallas pequeñas */
  }

  .polaroid {
    width: 90%; /* Ajuste del tamaño para mantener proporción en pantallas pequeñas */
    max-width: 280px;
    transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
    filter: grayscale(1.2);
    margin: 10px auto; /* Ajusta los márgenes para centrar las imágenes */
  }

  /* Ajustes de las imágenes en la Sección 3 */
  .polaroid-top,
  .polaroid-middle,
  .polaroid-bottom {
    transform: rotate(0deg); /* Remueve la rotación para un mejor ajuste */
    margin-top: 0;
  }

  .svg-container,
  .svg-container-chico {
    display: none;
  }
}

/* Pantallas muy pequeñas (móviles pequeños) */

/* Pantallas grandes (mayor a 1200px) */
@media (min-width: 1200px) {
  .tilted-text {
    -webkit-text-stroke: 2px;
  }

  .tilted-text-chico {
    -webkit-text-stroke: 2px;
    white-space: nowrap;
  }

  .sides-grid {
    margin-top: 4rem;
  }

  .burger-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 880px) {
  /* Style the navbar container */
  .navbar {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: space-between;
    padding: 0 1rem;
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: center;
    transform: translateY(0%);
  }

  .logo img {
    display: block;
    margin: 0;
    padding: 0;
    height: 80px;
    width: auto;
  }

  .hamburger-menu img {
    height: 50px;
    width: auto;
  }

  .hamburger-menu {
    display: block;
  }

  .mobile-nav.show {
    display: block;
  }
}

/* ... */

/* Animación de aparición desde la parte superior para los elementos de hamburguesas */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.section-1 .hero,
.section-1 .chalkboard-section,
.section-1 .vegan-section,
.section-2 .limited-edition-title,
.section-2 .image-container,
.section-3 .text-section,
.section-3 .polaroid-container,
.section-4 .nuestro-local-title,
.section-4 .nuestro-local-text,
.section-4 .map-iframe,
.footer-section .footer-contact,
.footer-section .footer-logo,
.footer-section .footer-work {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.animate {
  opacity: 1 !important;
  transform: translateY(0) !important;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.burger-grid .burger-item {
  opacity: 0;
  transform: translateY(-30px);
  animation: slideDown 0.5s ease-out forwards;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.burger-grid .burger-item:nth-child(1) {
  animation-delay: 0.1s;
}

.burger-grid .burger-item:nth-child(2) {
  animation-delay: 0.2s;
}

.burger-grid .burger-item:nth-child(3) {
  animation-delay: 0.3s;
}

.burger-grid .burger-item:nth-child(4) {
  animation-delay: 0.4s;
}

.burger-grid .burger-item:nth-child(5) {
  animation-delay: 0.5s;
}

.burger-grid .burger-item:nth-child(6) {
  animation-delay: 0.6s;
}

/* Animaciones secuenciales para los elementos dentro de .sides-grid */
.sides-grid .burger-item {
  opacity: 0;
  transform: translateY(-30px);
  animation: slideDown 0.5s ease-out forwards;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.sides-grid .burger-item:nth-child(1) {
  animation-delay: 0.7s;
}

.sides-grid .burger-item:nth-child(2) {
  animation-delay: 0.8s;
}

.sides-grid .burger-item:nth-child(3) {
  animation-delay: 0.9s;
}
