/* tipografías */

@font-face {
  font-family: "main";
  src: url("../../../public/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "graffiti";
  src: url("../../../public/FREESCPT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text-2";
  src: url("../../../public/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px 20px;
  background-color: #ffcd00;
  position: sticky;
  gap: 50px;
  top: 0;
  left: 0;
  right: 0;
  height: 105px;
  z-index: 1000;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: black;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.3s;
}
nav ul li a:hover {
  color: #555;
}

.logo {
  display: flex;
  justify-content: center;
  transform: translateY(50%);
}

.navbar .logo img {
  max-height: 10rem;
  object-fit: contain;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 30px;
}

.nav-left ul,
.nav-right ul {
  display: flex;
  list-style: none;
  gap: 150px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "main", sans-serif;
}

/* Section 1 */
.section-1 {
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
  z-index: 1;
}

.section-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;

  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 2;
}

.hero {
  display: flex;
  justify-content: center;
  /* margin-top: 105px; */
}

.hero-image {
  flex: 1;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

/* burgas section */
.chalkboard-section {
  padding: 2rem;
  text-align: center;
  color: #fff;
  position: relative;
}

.tilted-text {
  margin-top: 10rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: clamp(9rem, 11vw, 10rem);
  font-family: "graffiti", sans-serif;
  letter-spacing: 2px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-7deg);
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: 100;
  -webkit-text-stroke: 2.5px black;
  color: white;

  animation: graffiti-draw 1.2s ease-out forwards;
}

.svg-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: -19rem;
}

.svg-container img {
  transform: rotate(-6deg);
  width: 80%;
  height: auto;
  opacity: 0.25;
  max-width: none;
}

.tilted-text-chico {
  padding-left: 0.5rem;
  padding-right: 2.5rem;
  font-size: clamp(10rem, 12vw, 11rem);
  font-family: "graffiti", sans-serif;
  letter-spacing: 2px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-8deg);
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: 100;
  -webkit-text-stroke: 2.5px black;
  color: white;
  animation: graffiti-draw 1.2s ease-out forwards;
}

.svg-container-chico {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: -18rem;
}

.svg-container-chico img {
  transform: rotate(-6deg);
  width: 80%;
  height: auto;
  opacity: 0.25;
  max-width: none;
}

.burger-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.burger-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  margin-top: 8rem;
}

.burger-item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.4s, box-shadow 0.4s;
}

.burger-item:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
}

.burger-image {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.burger-item:hover .burger-image {
  transform: scale(1.1);
}

.ingredients-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.burger-item:hover .ingredients-overlay {
  opacity: 1;
}

.ingredients-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.ingredients-overlay li {
  font-family: "graffiti", sans-serif;
  margin: 5px 0;
  font-size: 3rem;
  color: #fff;
  opacity: 0;
}

/* BURGER TEXT ANIMATION */

.burger-item:hover .ingredients-overlay li:nth-child(odd) {
  animation: slideInLeft 0.3s forwards ease-out;
}

.burger-item:hover .ingredients-overlay li:nth-child(even) {
  animation: slideInRight 0.3s forwards ease-out;
}

.burger-item:hover .ingredients-overlay li:nth-child(1) {
  animation-delay: 0.01s;
}

.burger-item:hover .ingredients-overlay li:nth-child(2) {
  animation-delay: 0.1s;
}

.burger-item:hover .ingredients-overlay li:nth-child(3) {
  animation-delay: 0.2s;
}

.burger-item:hover .ingredients-overlay li:nth-child(4) {
  animation-delay: 0.3s;
}

.burger-item:hover .ingredients-overlay li:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.burger-name {
  margin-top: 0.5rem;
  font-family: "graffiti", sans-serif;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1.5px black;
  font-size: 3rem;
  color: #fff;
  z-index: 9;
}

.burger-price {
  margin: 0.5rem 0;
  font-family: "graffiti", sans-serif;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px black;
  font-size: 2.5rem;
  color: #fff;
  z-index: 9;
}

/* grafitti animation */
@keyframes graffiti-draw {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  25% {
    clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
  75% {
    clip-path: polygon(0 0, 75% 0, 75% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* TEXTO VEGANO */
.vegan-text {
  font-family: "main", sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
  transition: color 0.4s; /* Para animar el color si lo deseas */
}

.vegan-section {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 0.1px solid #ffd90063;
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.089);
  transition: transform 0.4s, box-shadow 0.4s;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  margin: 5rem auto;
  max-width: 50%;
}

/* sides */

.sides-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  margin-top: 2.5rem;
}

/* Section 2 */
/* EDICION LIMITADA */

.section-2 {
  background-image: url("../../../public/background_section_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
}

.section-2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;

  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 2;
}

.limited-edition-title {
  font-family: "main", sans-serif;
  color: white;
  font-size: 6rem;
  text-align: center;
  line-height: 1.2;
  transition: color 0.4s;
  padding-top: 5rem;
}

.limited-edition-subtitle {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  font-family: "main", sans-serif;
  text-align: center;
}

.limited-text-span {
  color: #ff0000;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6),
    0 0 30px rgba(255, 0, 0, 0.4);
  font-weight: bold;
}

.section-2 img.burger-limited {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION 3 */

.section-3 {
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
}

.section-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
}

.section-3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;

  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 2;
}

.content-container {
  display: flex;
  gap: 2rem;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.text-section {
  flex: 3;
  color: white;
  text-align: center;
}

.image-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}

.polaroid {
  width: 100%;
  max-width: 320px;
  transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
  filter: grayscale(1.2);
}

.polaroid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: start;
  position: relative;
}

.polaroid-top {
  grid-column: 1;
  grid-row: 1;
  transform: rotate(-8deg);
  z-index: 3;
}

.polaroid-middle {
  grid-column: 2;
  grid-row: 1;
  transform: rotate(8deg);
  margin-top: 40px;
  z-index: 2;
}

.polaroid-bottom {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin-top: -100px;
  z-index: 1;
}

.polaroid:hover {
  transform: scale(1.1) rotate(0deg);
  filter: grayscale(0);
}

.quienes-somos-title {
  font-family: "main", sans-serif;
  color: white;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
}

.quienes-somos-text {
  font-family: "main", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
}

/* SECTION 4 */

.section-4 {
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
}

.section-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
}

.nuestro-local-title {
  font-family: "main", sans-serif;
  color: white;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
}

.nuestro-local-text {
  font-family: "text-2", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
}

.map-iframe {
  width: 60%;
  height: 40rem;
  border: 0;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 10px 10px 10px 30px rgba(0, 0, 0, 0.2);
}

/* MEDIA QUERIES */

@media (max-width: 963px) {
  .navbar {
    flex-direction: column;
  }

  .nav-left,
  .nav-right {
    flex-direction: column;
    align-items: center;
  }

  .hero {
    flex-direction: column;
    align-items: center;
  }

  .burger-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .text-section {
    text-align: center;
    margin-bottom: 20px;
  }

  .image-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .polaroid {
    margin: 10px;
    transform: rotate(-8deg);

    transform: none;
  }
}

@media (max-width: 600px) {
  .burger-grid {
    grid-template-columns: 1fr;
  }
}

.text-wrap {
  position: relative;
  text-align: center;
}
