<div class="navbar">
  <nav class="nav-left stroke">
    <ul>
      <li><a href="#menu">Menu</a></li>
      <li><a href="#nosotros" style="margin-right: 3rem">Nosotros</a></li>
    </ul>
  </nav>

  <div class="logo">
    <img src="logo_hotfood.png" alt="Hot Food Logo" />
  </div>

  <nav class="nav-right stroke">
    <ul>
      <li><a href="#novedades" style="margin-left: 3rem">Novedades</a></li>
      <li><a href="#ubicacion">Ubicación</a></li>
    </ul>
  </nav>
</div>

<div class="hero">
  <div class="hero-image">
    <img src="burga_1_inicio.jpg" alt="Burger 1" />
  </div>
  <div class="hero-image">
    <img src="dueño_inicio.jpg" alt="Chef" />
  </div>
  <div class="hero-image">
    <img src="burga_2_inicio.jpg" alt="Burger 2" />
  </div>
</div>

<section class="chalkboard-section">
  <h2 class="tilted-text">BEST BURGERS IN TOWN</h2>
  <div class="svg-container">
    <img src="./brush_texto_largo.svg" alt="Brush Text" />
  </div>
  <div class="burger-grid">
    <div class="burger-item">
      <div class="burger-name">STACKER</div>
      <img src="stacker.png" alt="STACKER" class="burger-image" />
      <div class="ingredients-overlay">
        <ul>
          <li>Salsa Stacker</li>
          <li>Panceta</li>
          <li>Cheddar</li>
          <li>Doble Carne</li>
        </ul>
      </div>
      <div class="burger-price">$9000</div>
    </div>
    <div class="burger-item">
      <div class="burger-name">LE BLUE</div>
      <img src="leblue.png" alt="LE BLUE" class="burger-image" />
      <div class="ingredients-overlay">
        <ul>
          <li>Cabolla Caramelizada</li>
          <li>Alioli</li>
          <li>Roquefort</li>
          <li>Doble Carne</li>
        </ul>
      </div>
      <div class="burger-price">$9300</div>
    </div>
    <div class="burger-item">
      <div class="burger-name">SPICY CHEESE</div>
      <img src="spicy-cheese.png" alt="SPICY CHEESE" class="burger-image" />
      <div class="ingredients-overlay">
        <ul>
          <li>Salsa Spicy</li>
          <li>Doritos</li>
          <li>Cheddar</li>
          <li>Panceta</li>
          <li>Doble Carne</li>
        </ul>
      </div>
      <div class="burger-price">$9300</div>
    </div>
    <div class="burger-item">
      <div class="burger-name">CUARTO DE LIBRA</div>

      <img
        src="cuarto-de-libra.png"
        alt="CUARTO DE LIBRA"
        class="burger-image"
      />
      <div class="ingredients-overlay">
        <ul>
          <li>Salsa 1/4 de Libra</li>
          <li>Cheddar</li>
          <li>Doble Carne</li>
        </ul>
      </div>
      <div class="burger-name">$8500</div>
    </div>
    <div class="burger-item">
      <div class="burger-name">LE MUZZA</div>
      <img src="le-mussa.png" alt="LE MUZZA" class="burger-image" />
      <div class="ingredients-overlay">
        <ul>
          <li>Bastones de Muzza</li>
          <li>Salsa Thousand Island</li>
          <li>Cheddar</li>
          <li>Doble Carne</li>
        </ul>
      </div>
      <div class="burger-name">$9200</div>
    </div>
    <div class="burger-item">
      <div class="burger-name">TRENQUE BURGUER</div>
      <img src="trenque.png" alt="TRENQUE" class="burger-image" />
      <div class="ingredients-overlay">
        <ul>
          <li>Pan de papa</li>
          <li>Huevo</li>
          <li>Panceta</li>
          <li>Cheddar</li>
          <li>Doble Carne</li>
        </ul>
      </div>
      <div class="burger-price">$9500</div>
    </div>
  </div>

  <div class="vegan-section">
    <div>
      <p class="vegan-text">
        Cualquier medallón puede ser reemplazado por un medallón not co
        VEGETALEX.
        <br />
        El queso cheddar se puede cambiar por queso emmenthal o queso roquefort.
        <br />
        Se puede agregar o retirar una carne por $1500.
      </p>
    </div>
  </div>

  <h2 class="tilted-text-chico">SIDES</h2>
  <div class="svg-container-chico">
    <img src="./brush_texto_chico.svg" alt="Brush Text" />
  </div>

  <div class="burger-grid">
    <div class="burger-item">
      <div class="burger-name">AROS DE CEBOLLA</div>
      <img src="side_aros_cebolla.png" alt="STACKER" class="burger-image" />
      <div class="ingredients-overlay">
        <ul>
          <li>Salsa Stacker</li>
          <li>Panceta</li>
          <li>Cheddar</li>
          <li>Doble Carne</li>
        </ul>
      </div>
      <div class="burger-price">$9000</div>
    </div>
    <div class="burger-item">
      <div class="burger-name">STACKER</div>
      <img src="side_aros_cebolla.png" alt="STACKER" class="burger-image" />
      <div class="ingredients-overlay">
        <ul>
          <li>Salsa Stacker</li>
          <li>Panceta</li>
          <li>Cheddar</li>
          <li>Doble Carne</li>
        </ul>
      </div>
      <div class="burger-price">$9000</div>
    </div>
    <div class="burger-item">
      <div class="burger-name">STACKER</div>
      <img src="side_papas.png" alt="STACKER" class="burger-image" />
      <div class="ingredients-overlay">
        <ul>
          <li>Salsa Stacker</li>
          <li>Panceta</li>
          <li>Cheddar</li>
          <li>Doble Carne</li>
        </ul>
      </div>
      <div class="burger-price">$9000</div>
    </div>
  </div>
</section>
